<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="ru.ivansuper.jasmin.compat.UiRenderProbe"
        android:targetPackage="ru.ivansuper.jasmin" android:label="UI compatibility checks" />
    <instrumentation android:name="ru.ivansuper.jasmin.compat.PageAnimationProbe"
        android:targetPackage="ru.ivansuper.jasmin" android:label="Page animation smoke checks" />
    <instrumentation android:name="ru.ivansuper.jasmin.compat.AlertDeviceProbe"
        android:targetPackage="ru.ivansuper.jasmin" android:label="Sound and vibration smoke checks" />
</manifest>
